@import url('reset.css');

.tiers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;

  list-style: none;
}

.tier {
  display: flex;
  flex-wrap: wrap;
}

.tier > h2 {
  margin: 0;
  flex: 1 1 2ch;
  outline: 1px solid red;
}

.tier > .tier__items {
  flex: 3 1 50ch;

  outline: 1px solid green;
}

.tier__items {
  --cell-size: 100px;
  list-style: none;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--cell-size));

  gap: 1rem;
}

.tier__items > li {
  outline: 1px solid blue;
}
