@import url('reset.css');

main {
  display: grid;
  grid-template-columns: 50px 1fr
}

ul {
  --cell-size: 100px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--cell-size));
  grid-template-rows: minmax(var(--cell-size), max-content);
  gap: 1rem;
}