---
layout: base.liquid
---
<h1 class="tiers-background border-bottom__colors">
    T*LC Tiers
</h1>

<ul class="index-list">
    {% for tier in tiers %}
        <li><a href="tiers/{{ tier[0] }}/">{{ tier[1].tiersTitle }}</a></li>
    {% endfor %}
</ul>

<footer>
    <a href="/">Back to the T*LC index</a>
</footer>

<div aria-hidden="true" class="index-animation">
    <div class="index-animation__box"></div>
    <div class="index-animation__box"></div>
    <div class="index-animation__box"></div>
    <div class="index-animation__box"></div>
    <div class="index-animation__box"></div>
    <div class="index-animation__box"></div>
</div>
