---
layout: base.liquid
---
<h1 class="tiers-background border-bottom__colors">
    T*LC Tiers
</h1>

<ul class="index-list">
    {% for tiers in tiersAll %}
        <li><a href="tiers/{{ tiers.id }}/">{{ tiers.title }}</a></li>
    {% endfor %}
</ul>

<pre>{{ tiersAll |  inspect }}</pre>

<footer>
    <a href="/">Back to the T*LC index</a>
</footer>

<div aria-hidden="true" class="index-animation">
    <div class="index-animation__box"></div>
    <div class="index-animation__box"></div>
    <div class="index-animation__box"></div>
    <div class="index-animation__box"></div>
    <div class="index-animation__box"></div>
    <div class="index-animation__box"></div>
</div>
