---
layout: base.liquid
---
<h1 class="tiers-background border-bottom__colors">
    T*LC Tiers
</h1>

<ul>
    {% for tier in tiers %}
        <li><a href="tiers/{{ tier[0] }}/">{{ tier[1].tiersTitle }}</a></li>
    {% endfor %}
</ul>
